:root {
  --primary: #432EAB;
  --secondary: #8189A3;
  --theme-color: #262c40;
  --border-color: #D4DEFE;
  --bg-theme-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
